/* Basic reset for margins and paddings */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
}

nav h1 {
  color: #fff;
  margin: 0;
}

.hamburger {
  color: #fff;
}

/* Dialog styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0.5rem 0; /* Space between items */
}

.navbar-child {
  color: #333; /* Link color in dialog */
  text-decoration: none;
  display: block; /* Make link block to fill clickable area */
  padding: 0.5rem 1rem; /* Padding for clickable area */
  transition: background-color 0.3s;
}

.navbar-child:hover {
  background-color: #ddd; /* Background color on hover in dialog */
}

section {
  display: block;
  margin: auto;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

section .pfp img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

section img[alt="gif"] {
  border: 1px solid black;
  width: 50%;
  min-width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 10px;
}

section ul li img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
