.persona-name {
  text-transform: capitalize;
}

.card {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 10px solid firebrick;
}

.card h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.persona-container {
  border: 10px solid firebrick;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.context {
  font-family: "Yatra One", system-ui;
  font-optical-sizing: auto;
}

*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(https://github.com/Adornadowilliam2/persona/blob/images/cursor/customcursor.png?raw=true),
    auto;
}


@keyframes slideLeft {
  0% {
    transform: translateX(100%); /* Starts from 100% to the right */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Ends at original position */
    opacity: 1;
  }
}

#loading-animation {
  animation: slideLeft 1s ease-out; /* 1s duration, easing effect */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb0401;
  height: 100vh;
}

